<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">         
        <nav>
             <%= link_to image_tag("murlock_thumb.png", alt: "Guild logo"), root_path, id: "logo" %>
          <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Home",   root_path %></li>
            <li><%= link_to "Log in", signup_path %></li>
          </ul>
        </nav>
      </div>
    </header>